.common{
    text-align: center;
}
.header{
 
    background-color:rgb(89, 89, 250);
    color:white;
    text-align:center;
    left:0px;
    width: 100%;
    Top:0px;
    justify-content: space-between;
    display: flex;
    position: fixed;
    z-index: 2;
}

body{
    background-color:rgb(202, 199, 199);
    font-family:'Times New Roman', Times, serif;
    text-align:center;
    border:2px;
    padding:10px;
}
.mate{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.mateheader{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.centeredlist{
    width:fit-content;
    margin:0 auto;
    text-align: left;
    padding-left: 0;
    list-style-position: inside;
}
html {
    scroll-behavior: smooth;
  }
.footer{
    height:100 px;
    background-color: rgb(89, 89, 250);
    
}  
.links{
   
    background-color:rgb(89, 89, 250);
    text-align: right;
    color:white;
}

img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:25%;
}
.importgraph{
    border-top: 5px;
    text-align: left;
    font-family:'Times New Roman', Times, serif;
}
a:hover{
    color:blue
}
a{
    color:white;
}